In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns

In [2]:
df=pd.read_csv("./Dataset/heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
df.shape

(1025, 14)

In [5]:
#checking for null values
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [6]:
#concise summary of our dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [7]:
x = df.iloc[:, 0:-1]

In [8]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [9]:
y = df.iloc[:, -1]

In [10]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

np.random.seed(72)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [12]:
x_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
73,59,1,0,140,177,0,1,162,1,0.0,2,1,3
84,37,0,2,120,215,0,1,170,0,0.0,2,0,2
587,59,1,0,164,176,1,0,90,0,1.0,1,2,1
758,46,0,1,105,204,0,1,172,0,0.0,2,0,2
939,49,0,1,134,271,0,1,162,0,0.0,1,0,2

In [13]:
y_train.head()

73     0
84     1
587    0
758    1
939    1
Name: target, dtype: int64

In [14]:
len(x_train), len(x_test), len(y_train), len(y_test)

(820, 205, 820, 205)

In [15]:
#importing RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

In [16]:
#importing RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [17]:
#defining grid for randomsearchcv
rscv_grid = {"n_estimators": np.arange(10, 1000, 20),
           "max_depth": [None, 3, 5, 7, 10],
           "min_samples_split": np.arange(2, 20, 2),
           "min_samples_leaf": np.arange(1, 20, 2)}

In [18]:
np.random.seed(42)

# Setup random hyperparameter search for RandomForestClassifier
rscv_clf = RandomizedSearchCV(RandomForestClassifier(),
                           param_distributions=rscv_grid,
                           cv=5,
                           n_iter=100,
                           verbose=True)

# Fit random hyperparameter search model
rscv_clf.fit(x_train, y_train);

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [19]:
rscv_clf.score(x_test, y_test)

0.9902439024390244

In [20]:
rscv_clf.best_params_

{'n_estimators': 790,
 'min_samples_split': 8,
 'min_samples_leaf': 1,
 'max_depth': None}

In [21]:
y_preds = rscv_clf.predict(x_test)

In [22]:
y_preds

array([1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0], dtype=int64)

In [23]:
#Importing classification_report
from sklearn.metrics import classification_report

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        97
           1       1.00      0.98      0.99       108

    accuracy                           0.99       205
   macro avg       0.99      0.99      0.99       205
weighted avg       0.99      0.99      0.99       205

In [24]:
import pickle as pkl
pkl.dump(rscv_clf,open("./API/ModelAPI/MyAPI/model/model.p","wb"))